*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}

.nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
    border-bottom: 2px solid #dadada;
}

.nav-part2{
    display: flex;
   justify-content: space-between;
   gap: 4vw;
   align-items: center;
}

.nav h2{
    font-size: 1.5vw;
    font-weight: 700;
}

.nav-part2 h4{
    font-size: 1.2vw;
}

.nav i{
  
    font-weight: 800;
    display: none;
}

.nav button{
    font-size: 1vw;
    padding: 0.7vw 1.4vw;
    background-color: #672950;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 5px;
}

.content{
    height: calc(100% - 100px);
    width: 100%;
   display: flex;
   position: relative;
}



.left{
    height: 100%;
    width: 50%;
   
    padding: 5vw 4vw;
}

.left h1 {
    font-size: 3.5vw;
    line-height: 4.2vw;
}

.left span{
    color: #672950;
}

.left p{
    font-size: 2vw;
    font-weight: 600;
    color: #666;
    width: 80%;
    margin-top: 3vw;
    margin-bottom: 4vw;
}
.right{
    height: 100%;
    width: 50%;
    
}

.content button{
    font-size: 1.5vw;
    padding: 1vw 2vw;
    background-color: #672950;
    color: #fff;
    border: none;
    font-weight: 700;
    border-radius: 5px;
}

.right{
    width: 46%;
    height: 100%;
}

.right img{
    height: 100%;
    width: 100%;
}

@media (max-width:600px) {
    .nav{
        background-color: #672950;
        color: #fff;
        padding: 0 5vw;
        height: 60px;
    }
    .nav h2 {
        font-size: 6vw;
    }
    .nav h4{
        font-size: 4vw;
        display:none;
    }
    .nav button{
        display: none;
    }

    .content p{
        font-size: 4vw;
    }

    .content button{
      
        font-size: 4vw;
        padding: 3vw 4vw;
        background-color: #672950;
        color: #fff;
        border: none;
        font-weight: 700;
        border-radius: 5px;
    }

    .nav i {
         font-size: 6vw;
    display: none;
        display: block;
    }

    .content{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 70%;
        padding: 4vw 6vw;

    }

    .left h1{
        font-size: 10vw;
        line-height: 11vw;
    }
    .right{
        width: 100%;
        line-height: 11vw;
    }
}