*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html, body{
    height: 100%;
    width: 100%;
}

.parent{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.child1{
    height: 500px;
    width: 500px;
    background-color: crimson;
    border: 5px solid black;
}

.child2{  
     height: 500px;
    width: 500px;
    background-color: crimson;
    border: 5px solid black;
}

.child3{  
    height: 500px;
   width: 500px;
   background-color: crimson;
   border: 5px solid black;
}